div{
    --ptbvar: 15px;
    padding-top: var(--ptbvar);
    padding-bottom: var(--ptbvar);
    text-align: center;
    border-radius: 40px;
}

#obj {
    background: forestgreen;
    color: white;
    
    width: 50px;
    position: absolute;
    left: 400px;
    bottom: 400px;
    transition: 1s;
}